/*!
 * Argent CSS v0.2 (https://argent.xyz/)
 * Copyright 2018 Argent
 * Authored by Graeme Blackwood
 */


/* Some useful Bootstrap styles */
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

/*
 * TODO: Fix MetaMask tabs so that the use correct markup (with focusable a tags etc)
 * For now I have merged the Bootstrap styles for the li and a tags
 */
.nav-tabs > li {
  margin-bottom: -1px;
  display: block;
  padding: .5rem 1rem;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  cursor: pointer;
  text-align: center;
}

.nav-tabs > li:hover {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs > li.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
  cursor: default;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}









:root {
  /* Argent colour palette */
  --argent-orange: rgb(255, 135, 91);
  --argent-orange-wcag: rgb(243, 106, 61);
  --argent-green-wcag: rgb(2,187,168);
  --argent-black: rgb(51, 51, 50);
  --argent-black-transparent: rgba(51, 51, 50, 0.08);
  --argent-dark-charcoal: rgb(92, 91, 89);
  --argent-light-charcoal: rgb(143, 142, 140);
  --argent-clay: rgb(194, 192, 190);
  --argent-sand: rgb(245, 243, 240);
  --argent-mayo: rgb(250, 248, 245);

  --error: rgb(193, 32, 38);
}


body {
  overflow-x: hidden;
  font-family: 'Barlow Regular', sans-serif;
  color: var(--argent-black);
}

h1,
h2 {
  font-family: 'Barlow Medium', sans-serif;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2em;
  font-weight: 600;
}

a {
  color: var(--argent-orange-wcag);
}

a:focus,
a:hover {
  color: var(--argent-orange);
  text-decoration: none;
}

li {
  margin-bottom: 1em;
}

.form-group {
  min-width: 230px;
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-search {
  max-width: 31em;
  border: 0;
  background-color: var(--argent-sand);
}

button,
.button {
  display: inline-block;
  padding: 8px 24px;
  background-color: var(--argent-orange-wcag);
  border: 0;
  color: #ffffff;
  border-radius: 30px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

button:focus,
button:hover,
.button:focus,
.button:hover {
  background-color: var(--argent-orange);
  outline: 0;
  transform: scale(1.02);
}

button.confirm {
  background-color: var(--argent-green-wcag);
}

button.cancel {
  background-color: var(--error);
}


.button-simple {
  min-width: 5.4em;
  border: 1px solid var(--argent-black);
  border-radius: 4px;
  padding: 0.3em 0.85em 0.4em;
}

.button-simple:focus,
.button-simple:hover {
  background-color: var(--argent-black-transparent);
}



/*
 * Logo
 */
.ren {
  display: block;
  width: 104px;
  height: 104px;

  background: url("/images/ren-orange.svg") no-repeat;
  background-size: cover;

  margin: 0;
}

.text-wordmark {
  font-weight: 700;
}

.logo-stacked {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-stacked .text-wordmark {
  margin-bottom: 8px;
  font-size: 2.8em;
  line-height: 1em;
}

.powered-by {
  font-size: 0.85em;
  color: var(--argent-light-charcoal);
}





.inverted {
  color: #ffffff;
}

.inverted:focus,
.inverted:hover {
  color: #ffffff;
}



/*
 * App header
 */
.app-header {
  display: flex;
  width: 100%;
  max-height: 56px;
  padding: 16px 32px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);


  /* To ensure the dropdown menu doesn't fly over.
   * This is a crap hack though. The dropdown elements should be inside the header.
   */
  position: relative;
  z-index: 2;
}

.app-primary {
  max-height: 544px;
  overflow-y: scroll;
}



.error {
  padding: 0 32px;
  font-size: 0.85em;
  text-align: center;
  color: var(--error);
}

/*
 * Panel defaults
 */
.panel {
  padding: 16px 32px;
}


.screen-header h1 {
  margin-bottom: 0;
}




/*
 *  Initialize and unlock screens
 */
.initialize-screen,
.init-complete-screen,
.unlock-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

/* Init screen */
.initialize-screen {
  padding-top: 40px;
}

.initialize-screen .logo-stacked {
  margin-bottom: 32px;
}



/* Initialisation complete */
.copy-full-address {
  display: flex;
  margin-bottom: 32px;
}



/* Unlock screen */
.unlock-screen {
  padding-top: 80px;
}

.unlock-screen .logo-stacked {
  margin-bottom: 80px;
}

.new-key {
  font-size: 0.85em;
}

.unlock-screen input[type="password"] {
  text-align: center;
}

.unlock-screen button.login {
  margin-bottom: 16px;
}





/*
 * Account data view
 */
.account-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  margin-left: auto;
  width: 32px;
  height: 32px;
  background: var(--argent-sand);
  border-radius: 50%;
}

.active-account {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.identity-data {
  flex-grow: 1;
}

.ens {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
}


.full-address {
  max-width: 247px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  color: var(--argent-light-charcoal);
}


.account-data-subsection {
  padding: 32px;
}

.balance-buy-send {
  display: flex;
  justify-content: space-between;
}


.balance-buy-send .buy,
.balance-buy-send .send {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-bottom: 32px;
  color: var(--argent-dark-charcoal);
}

.balance-buy-send .buy {
  border-right: 1px solid var(--argent-clay);
}

.icon-buy,
.icon-send {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.icon-buy {
  background: var(--argent-green-wcag) url("/images/icon-exchange.svg") 50% 50% no-repeat;
}

.icon-send {
  background: var(--argent-orange-wcag) url("/images/icon-send.svg") 50% 50% no-repeat;
}



.token-list .token-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

.transactions-token-list .nav-tabs > li {
  flex-grow: 1;
}




.fa-question-circle {
  font-size: 18px;
  color: var(--argent-orange-wcag);
  top: 2px;
  margin-left: 4px;

}


/* Identity panel */
.identity-panel {
  display: flex;
  width: 100%;
  align-items: center;
}

.identicon-wrapper {
  margin-right: 16px;
}

.identity-data {

}




/* Balances */
.ether-balance {
  display: flex;
}

.currency-suffix {
  color: var(--argent-light-charcoal);
  margin-left: 5px;
}




/*
 * Transaction info
 */
.transaction-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transaction-info .identity-panel {
  padding: 16px;
  background: rgba(0,0,0,0.04);
}


#pending-tx-form .ether-balance {
  text-align: right;
}

.table-box {
  width: 100%;
  margin-top: 16px;
}

.table-box .row {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background: rgb(236,236,236);
}



/*
 * Transaction confirmation screen
 */
.confirmation-buttons {
  display: flex;
  justify-content: space-around;
  margin: 16px auto;
}


/*
 * Override the inline styles generated by the jazzicon node module in /node_modules/jazzicon/paper.js
 */
.identicon > div {
  display: block !important;
  border-radius: 50% !important;
}


/*
 * Dropdown menus
 */
.menu-droppo {
  /* TODO: Separate Font Awesome icon so that it is not also the container, so that we don't have to override the font styles */
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  min-width: 180px;
  position: absolute;
  right: 0;
  z-index: 1;
}

.menu-droppo > li {
  padding: 8px 16px;
  margin: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  cursor: pointer;
}



/* Transitions */
.menu-droppo-enter {
  transition: transform 300ms ease-in-out;
  transform: translateY(-200%);
}

.menu-droppo-enter.menu-droppo-enter-active {
  transition: transform 300ms ease-in-out;
  transform: translateY(0%);
}

.menu-droppo-leave {
  transition: transform 300ms ease-in-out;
  transform: translateY(0%);
}

.menu-droppo-leave.menu-droppo-leave-active {
  transition: transform 300ms ease-in-out;
  transform: translateY(-200%);
}
