/*!
 * Argent CSS v0.2 (https://argent.xyz/)
 * Copyright 2018 Argent
 * Authored by Graeme Blackwood
 */


/* Some useful Bootstrap styles */
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

/*
 * TODO: Fix MetaMask tabs so that the use correct markup (with focusable a tags etc)
 * For now I have merged the Bootstrap styles for the li and a tags
 */
.nav-tabs > li {
  margin-bottom: -1px;
  display: block;
  padding: .5rem 1rem;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  cursor: pointer;
  text-align: center;
}

.nav-tabs > li:hover {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs > li.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
  cursor: default;
}









:root {
  /* Argent colour palette */
  --argent-orange: rgb(255, 135, 91);
  --argent-orange-wcag: rgb(243, 106, 61);
  --argent-black: rgb(51, 51, 50);
  --argent-black-transparent: rgba(51, 51, 50, 0.08);
  --argent-dark-charcoal: rgb(92, 91, 89);
  --argent-light-charcoal: rgb(143, 142, 140);
  --argent-sand: rgb(245, 243, 240);
  --argent-mayo: rgb(250, 248, 245);
}


body {
  overflow-x: hidden;
  font-family: 'Barlow', sans-serif;
  color: var(--argent-black);
}


h1 {
  font-size: 2em;
  font-weight: 600;
}

h1,
h2 {
  margin-bottom: 0.5em;
}

a {
  color: var(--argent-orange-wcag);
}

a:focus,
a:hover {
  color: var(--argent-orange);
  text-decoration: none;
}

li {
  margin-bottom: 1em;
}

hr {
  margin: 4rem 0;
}

.flex-center > .form-group {
  min-width: 230px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-search {
  max-width: 31em;
  border: 0;
  background-color: var(--argent-sand);
}

button,
.button {
  display: inline-block;
  padding: 8px 24px;
  background-color: var(--argent-orange-wcag);
  border: 0;
  color: #ffffff;
  border-radius: 30px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

button:focus,
button:hover,
.button:focus,
.button:hover {
  background-color: var(--argent-orange);
  outline: 0;
  transform: scale(1.02);
}


.button-simple {
  min-width: 5.4em;
  border: 1px solid var(--argent-black);
  border-radius: 4px;
  padding: 0.3em 0.85em 0.4em;
}

.button-simple:focus,
.button-simple:hover {
  background-color: var(--argent-black-transparent);
}


.logo {
  display: block;
  width: 188px;
  height: 55px;
  background: url("../images/argent-logo.svg") no-repeat;
  background-size: cover;
  margin: 0;
}

.ren {
  display: block;
  width: 86px;
  height: 86px;

  background-image: url("../images/ren-white.svg");
  background-repeat: no-repeat;
  background-size: cover;


  /* SVG background recolouring is not widely supported yet
  background: #ffffff;
  -webkit-mask:  url("../images/ren-white.svg") no-repeat 50% 50%;
  mask: url("../images/ren-white.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  */


  margin: 0;
}

.ren-white {
  background-image: url("../images/ren-white.svg");
}

.ren-orange {
  background-image: url("../images/ren-orange.svg");
}




.icon-medium,
.icon-twitter,
.icon-telegram,
.icon-github {
  display: block;
  width: 5vh;
  height: 5vh;
  margin: 0 1.5vw;

  transform: scale(0,0) translateY(0);
  overflow: hidden;
  text-indent: -500em;
}

.icon-medium {
  background: url("../images/icons/icon-medium.svg") no-repeat;
  background-size: cover;

  transition: transform 0.3s 0.5s ease-in-out;
}

.icon-twitter {
  background: url("../images/icons/icon-twitter.svg") no-repeat;
  background-size: cover;

  transition: transform 0.3s 0.6s ease-in-out;
}

.icon-telegram {
  background: url("../images/icons/icon-telegram.svg") no-repeat;
  background-size: cover;

  transition: transform 0.3s 0.7s ease-in-out;
}

.icon-github {
  background: url("../images/icons/icon-github.svg") no-repeat;
  background-size: cover;

  transition: transform 0.3s 0.7s ease-in-out;
}

.inverted {
  color: #ffffff;
}

.inverted:focus,
.inverted:hover {
  color: #ffffff;
}

/* Co-branding */
.logo-ledger {
  display: block;
  width: 188px;
  height: 51px;
  background: url("../images/logo-ledger.svg") no-repeat;
  background-size: cover;
  margin: 0;
}


.full-address {
  max-width: 247px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  color: var(--argent-light-charcoal);
}



/*
 * App header
 */
.app-header {
  display: flex;
  width: 100%;
  padding: 16px 32px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);


  /* To ensure the dropdown menu doesn't fly over.
   * This is a crap hack though. The dropdown elements should be inside the header.
   */
  position: relative;
  z-index: 1;
}



/*
 * Account data view
 */
.account-selector {
  position: relative;
  cursor: pointer;
}

.active-account {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.active-account .ens {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.account-data-subsection {
  padding: 32px;
}

.balance-buy-send {
  display: flex;
  justify-content: space-between;
}


.balance-buy-send .buy {
  margin-left: auto;
  margin-right: 10px
}

.token-list .add-token {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

.transactions-token-list .nav-tabs > li {
  flex-grow: 1;
}





/*
 * Dropdown menus
 */
.menu-droppo {
  /* TODO: Separate Font Awesome icon so that it is not also the container, so that we don't have to override the font styles */
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  min-width: 180px;
  position: absolute;
  right: 0;
}

.menu-droppo > li {
  padding: 8px 16px;
  margin: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  cursor: pointer;
}



/* Transitions */
.menu-droppo-enter {
  transition: transform 300ms ease-in-out;
  transform: translateY(-200%);
}

.menu-droppo-enter.menu-droppo-enter-active {
  transition: transform 300ms ease-in-out;
  transform: translateY(0%);
}

.menu-droppo-leave {
  transition: transform 300ms ease-in-out;
  transform: translateY(0%);
}

.menu-droppo-leave.menu-droppo-leave-active {
  transition: transform 300ms ease-in-out;
  transform: translateY(-200%);
}


